@model ArticleViewModel

@{
    ViewData["Title"] = "Edit";
	Layout = "_LayoutNoHeaderNoFooter";
}


<div class="wrapper">
    <main>
        <form id="article-form" class="blog-article-form" method="post">
            @*  Header  *@
            <div class="blog-article-form__header">
                @*  Logo  *@
                <span class="blog-article-form__logo">
                    <a class="site-logo" href="/">
                        <img class="site-logo__img" src="~/img/logo.png">
                    </a>
                </span>
                @*  Inscription  *@
                <div class="blog-field__label flex items-center flex-1">
                    <span class="inline-block mr-2 whitespace-nowrap">Редактирование статьи</span>
                </div>
            </div>
            @*  Errors and title/text fields  *@
            <div class="blog-article-form__content blog-card">
                @*  Validation errors  *@
                <span class="blog-notice fw-bold" asp-validation-for="@Model.Title"></span>
                <span class="blog-notice fw-bold" asp-validation-for="@Model.Text"></span>
                <span class="blog-notice fw-bold" asp-validation-for="@Model.Tags"></span>
                @*  Article title  *@
                <div class="blog-article__header__meta text-padding">
                    <div class="blog-article-form__title">
                        <textarea class="blog-textfield-textarea fs-5xl fw-heavy lh-tight" type="text" placeholder="Редактируйте заголовок здесь..." asp-for="Title"></textarea>
                    </div>
                </div>
                @*  Article text  *@
                <div class="blog-article-form__body text-padding">
                    <div class="h-100">
                        <textarea class="blog-textfield-textarea ff-monospace fs-l h-100" type="text" placeholder="Редактируйте текст статьи здесь..." asp-for="Text"></textarea>
                    </div>
                </div>
            </div>
            @*  Sidebar with help and tags  *@
            <div class="blog-article-form__aside">
                @*  Help  *@
                <div class="sticky">
                    <div class="blog-article-form__help blog-article-form__help--body">
                        <h4 class="mb-2 fs-l">Редактирование</h4>
                        <ul class="list-disc pl-6 color-base-70">
                            <li>
                                Используйте
                                <a href="https://www.markdownguide.org/basic-syntax/">Markdown</a>
                                для написания и редактирования статьи.
                            </li>
                            <li>
                                Для вставки пустой строки используйте <code>&lt;br&gt;</code>
                            </li>
                        </ul>
                    </div>
                </div>
                @*  Tags  *@
                <div class="sticky mt-4">
                    <div>
                        <h4 class="mb-2 fs-l">Выберите до 4-х тегов:</h4>
                        <ul class="pl-2 color-base-70 blog-tag-list">
                            @for (int i = 0; i < @Model.Tags.Count; i++)
                            {
                                <li>
                                    <input type="hidden" asp-for="@Model.Tags[i].Value">
                                    <input class="input-label-tag" asp-for="@Model.Tags[i].Selected">
                                    <label class="input-label-tag" asp-for="@Model.Tags[i].Selected">@Model.Tags[i].Text</label>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
            @*  Publish and previous page  *@
            <div class="blog-article-form__footer">
                <button class="c-btn c-btn--primary mr-2 whitespace-nowrap" type="submit">Сохранить изменения</button>
                <a class="c-link c-link--block mr-2 whitespace-nowrap" href='javascript:history.go(-1)'>На предыдущую страницу</a>
            </div>
        </form>
    </main>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}